{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<h1>Cloud Dashboard</h1>

<div class="dashboard-grid">

    <div class="info-card">
        <h3>🐍 Python</h3>
        <div class="info-value" id = "python">{{ info.python }}</div>
    </div>

    <div class="info-card">
        <h3>🖥️ Operating System</h3>
        <div class="info-value" id = "os">{{ info.os }}</div>
    </div>

    <div class="info-card">
        <h3>💻 Hostname</h3>
        <div class="info-value" id = "hostname">{{ info.hostname }}</div>
    </div>

    <div class="info-card">
        <h3>🌐 IP Address</h3>
        <div class="info-value" id = "ip">{{ info.ip }}</div>
    </div>

    <div class="info-card">
        <h3>⚙ CPU Usage</h3>
        <div class="info-value" id = "cpu">{{ info.cpu }}%</div>
    </div>

    <div class="info-card">
        <h3>🧩 CPU Cores</h3>
        <div class="info-value" id = "cpu_count">{{ info.cpu_count }}</div>
    </div>

    <div class="info-card">
        <h3>🧠 Memory</h3>
        <div class="info-value" id = "memory">{{ info.memory }}%</div>
    </div>

    <div class="info-card">
        <h3>💾 Total RAM</h3>
        <div class="info-value" id = "memory_total">{{ info.memory_total }} GB</div>
    </div>

    <div class="info-card">
        <h3>📀 Disk Usage</h3>
        <div class="info-value" id = "disk">{{ info.disk }}%</div>
    </div>

</div>

<script>

async function updateSystemInfo(){

    const response = await fetch("/api/system");
    const data = await response.json();

    document.getElementById("cpu").textContent =
        data.cpu + "%";

    document.getElementById("memory").textContent =
        data.memory + "%";

    document.getElementById("disk").textContent =
        data.disk + "%";

}

async function loadLogs(){

    const response = await fetch("/api/logs");
    const logs = await response.json();

    const body = document.getElementById("log-body");

    body.innerHTML = "";

    logs.forEach(log => {

        body.innerHTML += `
            <tr>
                <td>${log.created_at}</td>
                <td>${log.cpu}</td>
                <td>${log.memory}</td>
                <td>${log.disk}</td>
            </tr>
        `;

    });

}

updateSystemInfo();
loadLogs();

setInterval(() => {

    updateSystemInfo();
    loadLogs();

}, 10000);

</script>

<hr>

<h2>Recent System Logs</h2>

<table id="log-table" border="1" cellpadding="8">
    <thead>
        <tr>
            <th>Time</th>
            <th>CPU (%)</th>
            <th>Memory (%)</th>
            <th>Disk (%)</th>
        </tr>
    </thead>

    <tbody id="log-body">

    </tbody>

</table>

{% endblock %}
